table.tl_mappingwizard {

    width: 100%;
    margin-top: .5em;
}

table.tl_mappingwizard .tl_select {

    width: 100%;
}

table.tl_mappingwizard th {

    padding-bottom: .5em;
    padding-top: .5em;
}

table.tl_mappingwizard td {

    padding-right: .5em;
}

table.tl_mappingwizard th {

    padding-right: .5em;
}

td.mappingwizard_type,
th.mappingwizard_type {

    position: relative;
    width: 20%;
}

td.mappingwizard_column,
th.mappingwizard_column {

    position: relative;
    width: 35%;
}

td.mappingwizard_head,
th.mappingwizard_head {

    position: relative;
    width: 35%;
}

td.mappingwizard_continue,
th.mappingwizard_continue {

    position: relative;
    width: 10%;
}